[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
mypy = "*"
pytest = "*"

[requires]

[scripts]
lint = "pipenv run flake8 . --count --max-complexity=10 --max-line-length=127 --statistics"
black-check = "black . --check"
black-fix = "black ."
type-hints = "mypy src"
unit-test = "pytest -v"
test = "pipenv run unit-test"
test-coverage-create = "pipenv run coverage run -m pytest"
test-coverage-report = "pipenv run coverage report --fail-under=90"
